@import "tailwindcss";

:root {
  --background: #F1F5FE;
  --foreground: #171717;
}

/* Your theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F1F5FE;
    --foreground: #171717;
  }
}

/* Apply the fonts */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  /* Use Geist Sans variable */
}

/* Optional: for code/monospace text */
code,
pre,
.mono {
  font-family: var(--font-mono), monospace;
  /* Use Geist Mono variable */
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f5f9; /* slate-100 */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #6366f1; /* indigo-500 */
  border-radius: 9999px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* indigo-600 */
}
